#
# #INFO: A .gitignore file for the mcidoc repo.
#
# ------------------------------------------------------------------------------
#
# Author: DTMc
#
# This file is part of mcidoc.
#
# mcidoc is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later
# version.
#
# mcidoc is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# ------------------------------------------------------------------------------
#
# macOS settings
*.DS_Store

# Remove auxiliary files
*.aux
*.log
*.lot
*.lof
*.blg
*.bbl
*.run.xml
*.synctex.gz
*.toc
*.el
*.abs
*.ack

*blx.bib    

# DIRECTORIES ------------------------------------------------------------------
    
**/auto/**
**/_minted/**
**/.mypy_cache/**    
**/tmp/**
    
# ------------------------------------------------------------------------------
#
# .gitginore ends here.
#                 